/* Light mode variables */
:root {
  --background-color: #ccc;
  --container-bg-color: white;
  --text-color: #333;
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
  --quit-button-bg-color: #dc3545;
  --quit-button-hover-bg-color: #c82333;
  --love-color: #000;
}

/* Dark mode variables */
body.dark-mode {
  --background-color: #222;
  --container-bg-color: #333;
  --text-color: #f4f4f4;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --quit-button-bg-color: #dc3545;
  --quit-button-hover-bg-color: #c82333;
  --love-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /* Removes the blue highlight on mobile */
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  transition: background-color 0.3s;
}

.container {
  position: relative;
  background-color: var(--container-bg-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
  transition: background-color 0.3s;
  margin-top: 60px;
}

input[type] {
  color: var(--love-color);
  background-color: var(--background-color);
}

canvas #confettiCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

h1 {
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--text-color);
}

label {
  display: block;
  margin-top: 10px;
  font-size: 1.1rem;
  color: var(--text-color);
}

input {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: black;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

#quitBtn {
  background-color: var(--quit-button-bg-color);
  margin-top: 10px;
}

#quitBtn:hover {
  background-color: var(--quit-button-hover-bg-color);
}

#hintMessage {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--text-color);
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 59.5px;
  height: 34px;
  margin: 20px auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #28a745;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

body.dark-mode .slider {
  background-color: #222;
}

body.dark-mode input:checked + .slider:before {
  background-color: #ccc;
}

body.dark-mode input:checked + .slider:before {
  background-color: #fff;
}

/* Disabled button styles */
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}
